<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Honest Test of Humanity</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="/static/styles/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <h1>Test of Humanity</h1>
    <b>You have 7 seconds to select a picture of:</b>
    <ul> <!-- changed to list in the tutorial -->
      <li> The Number X</li>
    </ul>
    
    
    <div class="gallery">
    	<figure class="gallery_item gallery_item-1">
    		<img src="/static/images/MNIST20/0001.png" class="gallery_img" alt="Test.">
    	</figure>
    	
    	<figure class="gallery_item gallery_item-2">
    		<img src="/static/images/MNIST20/0002.png" class="gallery_img" alt="Test.">
    	</figure>
    	
    	<figure class="gallery_item gallery_item-3">
    		<img src="/static/images/MNIST20/0003.png" class="gallery_img" alt="Test.">
    	</figure>
    	
    	<figure class="gallery_item gallery_item-4">
    		<img src="/static/images/MNIST20/0004.png" class="gallery_img" alt="Test.">
    	</figure>
    	
    	<figure class="gallery_item gallery_item-5">
    		<img src="/static/images/MNIST20/0005.png" class="gallery_img" alt="Test.">
    	</figure>
    	
    	<figure class="gallery_item gallery_item-6">
    		<img src="/static/images/MNIST20/0006.png" class="gallery_img" alt="Test.">
    	</figure>

      <figure class="gallery_item gallery_item-7">
    		<img src="/static/images/MNIST20/0007.png" class="gallery_img" alt="Test.">
    	</figure>
    	
    	<figure class="gallery_item gallery_item-8">
    		<img src="/static/images/MNIST20/0008.png" class="gallery_img" alt="Test.">
    	</figure>
    	
    	<figure class="gallery_item gallery_item-9">
    		<img src="/static/images/MNIST20/0009.png" class="gallery_img" alt="Test.">
    	</figure>
    </div>
    
    
    <p>This test will make sure you are human.</p>
	<canvas id="viewport" width="336" height="336"></canvas>
    <p>The code of this test is open source, it's in this <a href="https://github.com/pcalic-ledger/PROJECT-Proof_Of_Liveness"> Repository.</a> </p> 
    <b>Verify, don't Trust.</b>
    <br>
  <button>Change user</button>
  <script src="/static/scripts/main.js"></script>
  </body>
  
</html>
