<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Honest Test of Humanity</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="/static/styles/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <h1>Test of Humanity</h1>
    <b>You have 7 seconds to select a picture of:</b>
    <ul> <!-- changed to list in the tutorial -->
      <li> The Number X</li>
    </ul>
    
    
    <p>This test will make sure you are human.</p>
	<canvas id="viewport" width="504" height="504"></canvas>
    <p>The code of this test is open source, it's in this <a href="https://github.com/pcalic-ledger/PROJECT-Proof_Of_Liveness"> Repository.</a> </p> 
    <b>Verify, don't Trust.</b>
    <br>
  <script src="/static/scripts/main.js"></script>
  </body>
  
</html>
